<h1>Creatures Index Page</h1>

<% @creatures.each do |creature| %>
  <ul>
    <li>
      <strong>Id:</strong> <%= creature.id %><br>
      <strong>Name:</strong> <%= creature.name %><br>
      <strong>Description:</strong> <%= creature.description %>
    </li>
  </ul>  
<% end %>
